doctype html
html
    head
        title = "Hello Pug"
        link(rel="stylesheet", href="/css/style.css")
    body
        include ./header.pug
        h1 Esta es la página de about
        img(src="/assets/about.png", alt="about" class="img_logo")
        include ./footer.pug